<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^home$ engine.php?module=home [L]
RewriteRule ^sign-in\.html$ engine.php?module=signin [L]
RewriteRule ^sign-up\.html$ engine.php?module=signup [L]
RewriteRule ^category-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)\.html$ engine.php?module=category_detail&id=$1&div=$2&page=$3&type=$4&verified=$5&pid=$6&cat=$7&nm=$8 [L]
RewriteRule ^subcategory-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)\.html$ engine.php?module=subcategory_detail&id=$1&div=$2&page=$3&type=$4&verified=$5&pid=$6&cat=$7&nm=$8 [L]
RewriteRule ^allcategory-([0-9]+)-(.*)\.html$ engine.php?module=allcategory&id=$1 [L]
RewriteRule ^product-(.*)\.html$ engine.php?module=product_detail&id=$1 [L]
RewriteRule ^success\.html$ engine.php?module=success [L]
RewriteRule ^profile\.html$ engine.php?module=profile [L]
RewriteRule ^keranjang-(.*)\.html$ engine.php?module=keranjangbelanja&id=$1 [L]
RewriteRule ^save-transaction\.html$ engine.php?module=savetransaction&id=$1 [L]
RewriteRule ^status-transaction\.html$ engine.php?module=statustransaction [L]
RewriteRule ^add-paid-([0-9])-(.*)\.html$ engine.php?module=add-paid&div=$1&id=$2 [L]
RewriteRule ^add-complete-([0-9])-(.*)\.html$ engine.php?module=add-complete&div=$1&id=$2 [L]
RewriteRule ^new-product\.html$ engine.php?module=newproduct [L]
RewriteRule ^list-product\.html$ engine.php?module=listproduct [L]
RewriteRule ^history\.html$ engine.php?module=history [L]
RewriteRule ^favorite\.html$ engine.php?module=favorite [L]
RewriteRule ^compare\.html$ engine.php?module=compare [L]
RewriteRule ^chat\.html$ engine.php?module=chat [L]
RewriteRule ^read-chat-([0-9])-(.*)\.html$ engine.php?module=readchat&div=$1&id=$2 [L]
RewriteRule ^edit-product-([0-9]+)-(.*)-(.*)\.html$ engine.php?module=editproduct&div=$1&page=$2&id=$3 [L]
RewriteRule ^add-balance\.html$ engine.php?module=addsaldo [L]
RewriteRule ^all-balance\.html$ engine.php?module=allsaldo [L]
RewriteRule ^all-dana\.html$ engine.php?module=alldana [L]
RewriteRule ^paid-balance-([0-9])-(.*)\.html$ engine.php?module=paidsaldo&div=$1&id=$2 [L]
RewriteRule ^send-transaction-([0-9])-(.*)\.html$ engine.php?module=sendtransaction&div=$1&id=$2 [L]
RewriteRule ^tarik-dana-([0-9])-(.*)\.html$ engine.php?module=tarikdana&div=$1&id=$2 [L]
RewriteRule ^pencairan-([0-9])-(.*)\.html$ engine.php?module=pencairan&div=$1&id=$2 [L]
RewriteRule ^detail-dana-([0-9])-(.*)\.html$ engine.php?module=detaildana&div=$1&id=$2 [L]
RewriteRule ^promo\.html$ engine.php?module=promo [L]
RewriteRule ^ekspedisi\.html$ engine.php?module=ekspedisi [L]
RewriteRule ^ekspedisi-view-(.*)-(.*)\.html$ engine.php?module=ekspedisi_view&id=$1 [L]
RewriteRule ^ekspedisi-view\.html$ engine.php?module=ekspedisi-view [L]
RewriteRule ^profit\.html$ engine.php?module=profit [L]
RewriteRule ^profile-member\.html$ engine.php?module=profilemember [L]
RewriteRule ^password\.html$ engine.php?module=password [L]
RewriteRule ^checkout-2\.html$ engine.php?module=checkout [L]
RewriteRule ^congratulation\.html$ engine.php?module=congratulation [L]
RewriteRule ^profile-(.*)-(.*)-(.*)-(.*)-(.*)\.html$ engine.php?module=other-pro&id=$1&div=$2&type=$3&page=$4&nm=$5 [L]
RewriteRule ^halprofile-(.*)\.html$ engine.php?module=ekspedisi&halprofile=$1 [L]
RewriteRule ^save-view\.html$ engine.php?module=saveview [L]
RewriteRule ^edit-address-([0-9]+)-(.*)-(.*)\.html$ engine.php?module=editaddress&div=$1&page=$2&id=$3 [L]
RewriteRule ^articles-(.*)-(.*)-(.*)\.html$ engine.php?module=articles&id=$1&page=$2&title=$3 [L]
RewriteRule ^read-art-(.*)-(.*)\.html$ engine.php?module=read-art&id=$1 [L]
Options All -Indexes
</IfModule>
